@media only screen and (min-width: 834px) and (max-width: 1023px) {
html {overflow-x: hidden;}
body {
 background: #88B2FF;
 width: 834px;
 background-image: url("../images/gradient834.png");
 background-repeat: no-repeat;
 box-sizing: border-box;
 overflow-x: hidden;
 background-position: center top;
}
}
